/* Import */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* Paramètre généraux */

* {
  scroll-behavior: smooth;
}

.separator {
  height: 1px;
  width: 150px;
  background-color: #f74c3c;
  margin: auto;
}

/* Navbar */

nav img {
  margin-left: 400px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 13%;
  list-style: none;
  margin-right: 18%;
  padding-top: 13px;
}

/* Hero */

.banner {
  background-image: url("../images/hero-image.jpg");
  width: 100%;
  height: 711px;
}

.container.text {
  color: white;
}

/* Get Involved */

#get-involved {
  height: 560px;
}

/* Footer */
footer {
  background-color: #f74c3c;
  height: 275px;
}
footer img {
  padding: 9em 0 0 29em;
}

/* Responsive */

@media only screen and (max-width: 1690px) {
  nav ul {
    width: 20%;
  }
  footer img {
    padding: 9em 0 0 5em;
  }
}

/* Laptop responsive */

@media only screen and (max-width: 1200px) {
  #home {
    height: 895px;
  }
  #home .banner {
    height: 895px;
  }
  #home p .description {
    font-size: 15px;
  }
  #who {
    height: 1100px;
  }
  #who p {
    font-size: 5px;
  }
  footer img {
    padding: 9em 0 0 10em;
  }
}

@media only screen and (max-width: 1100px) {
  nav ul {
    width: 25%;
  }
  nav img {
    width: 20%;
    margin-left: 0;
  }
}

/* Tablette responsive */

@media only screen and (max-width: 990px) {
  #get-involved {
    height: 1500px;
  }

  footer {
    position: absolute;
    top: 165em;
    width: 100%;
    margin-top: 60px;
  }

  nav ul {
    display: none;
  }

  nav img {
    margin-left: 10px;
  }

  #students {
    height: 370px;
    font-size: 15px;
  }
  #educators {
    height: 370px;
    font-size: 15px;
  }
  #sponsors {
    height: 370px;
    font-size: 15px;
  }
}

/* Smartphone responsive */


@media only screen and (max-width: 850px) {
footer img{
  padding: 10em 0 0 40px;
}
}

@media only screen and (max-width: 770px) {
  nav ul {
    display: none;
  }
  nav img {
    margin-left: 10px;
  }
  #who {
    padding-bottom: 450px;
  }
}

@media only screen and (max-width: 500px) {
  nav img {
    width: 150px;
  }
  footer {
    width: 100%;
  }
  footer img {
    position: absolute;
    right: 50px;
    width: 440px;
  }
#toTheTop{
  margin-left: 26em;
}

}
@media only screen and (max-width: 490px) {
  footer {
    width: 100%;
  }
  footer img {
    position: absolute;
    right: 32px;
    width: 100%;
}

}

@media only screen and (max-width: 470px) {
#toTheTop{
  margin-left: 87%
}
}
@media only screen and (max-width: 280px) {
#toTheTop{
  margin-left: 85%
}
}
